td {
    text-align: center;
}

table {
    /* margin: auto; */
    border-spacing: 0px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 1rem;
}

#table-header{
    background-color: black;
    color: white;
}

#table-body th{
    background-color: lightgray;
}

#table-footer th{
    background-color: lightgray;
}

form{
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 1rem;
    width:fit-content;
}

form label{
    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    align-items: left;
    margin-top: 1rem;
    /* width: 10rem; */
}

input[type=submit] {
    margin-top: 1rem;
}
