td {
    text-align: center;
}

table {
    margin: auto;
    border-spacing: 0px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 1rem;
}

#table-header{
    background-color: black;
    color: white;
}

#table-body th{
    background-color: lightgray;
}

#table-footer th{
    background-color: lightgray;
}